#btn_rounded {
   display: flex;
   padding: 4px 16px;
   border-radius: 30px;
   border: solid 1px #F9F3C4;
   color: #F9F3C4;
   font-weight: 100;
   transition: background-color 0.3s ease
}

#btn_rounded:hover {
   color: #F23030;
   font-weight: 400;
   border: solid 1px #F23030;
}

#menu {
   justify-content: center;
}
